/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  text-decoration: none;
  color: #767676; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, td img {
  vertical-align: top; }

nav ul {
  list-style: none; }

img {
  max-width: 100%; }

html {
  min-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.clr {
  clear: both; }

.clearfix:after {
  clear: both;
  content: "";
  display: table;
  /* --------------- end reset.css --------------- */ }

/* --------------- style for main --------------- */
body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 14px;
  background: #fff; }

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
    -webkit-box-sizing-box-sizing: border-box; }

h1 {
  color: #fff;
  font-size: 40px; }
  @media (max-width: 500px) {
    h1 {
      font-size: 23px; } }

h2 {
  text-align: center;
  font-size: 32px; }
  @media (max-width: 770px) {
    h2 {
      font-size: 28px; } }
  @media (max-width: 770px) and (max-width: 450px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 23px;
  margin-bottom: 9px; }
  @media (max-width: 770px) {
    h3 {
      font-size: 18px; } }

h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px; }

h5 {
  font-size: 21px;
  margin-bottom: 13px; }

h6 {
  font-family: 'Encode Sans', sans-serif;
  color: #fff;
  font-size: 30px; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  background: none;
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

.hidden-button svg g {
  fill: #ffffff;
  cursor: pointer; }

.hidden-button svg g:hover {
  fill: #aa8c67; }

header .container .header-content .header-top {
  padding: 30px 0 28px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  @media (max-width: 900px) {
    header .container .header-content .header-top {
      padding-left: 60px; } }
  @media (max-width: 900px) and (max-width: 550px) {
    header .container .header-content .header-top {
      padding: 15px 0 15px 60px; } }
  @media (max-width: 900px) and (max-width: 550px) and (max-width: 500px) {
    header .container .header-content .header-top {
      padding: 15px 0 15px 170px; } }
  header .container .header-content .header-top .header-top-left {
    float: left;
    display: none; }
    @media (max-width: 900px) {
      header .container .header-content .header-top .header-top-left {
        display: block;
        width: 5%; } }
    header .container .header-content .header-top .header-top-left .hidden-container {
      position: relative;
      margin-top: 10px; }
      header .container .header-content .header-top .header-top-left .hidden-container .hidden-menu {
        display: none;
        position: absolute;
        width: 250px;
        background: #323232;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 20px 25px;
        border: 1px solid #3c3c3c; }
        header .container .header-content .header-top .header-top-left .hidden-container .hidden-menu ul li {
          margin-bottom: 20px; }
          header .container .header-content .header-top .header-top-left .hidden-container .hidden-menu ul li a {
            color: #717171; }
          header .container .header-content .header-top .header-top-left .hidden-container .hidden-menu ul li a:hover {
            color: #fefefe; }
        header .container .header-content .header-top .header-top-left .hidden-container .hidden-menu ul li:last-child {
          margin-bottom: 0px; }
  header .container .header-content .header-top .header-top-right {
    float: left;
    width: 100%; }
    @media (max-width: 900px) {
      header .container .header-content .header-top .header-top-right {
        width: 95%; } }
    header .container .header-content .header-top .header-top-right .logo {
      margin-top: 2px;
      float: left;
      width: 15%; }
      @media (max-width: 1050px) {
        header .container .header-content .header-top .header-top-right .logo {
          margin-left: 10px; } }
  @media (max-width: 1050px) and (max-width: 1000px) {
    header .container .header-content .header-top .header-top-right .logo {
      margin-left: 70px; } }
  @media (max-width: 1050px) and (max-width: 1000px) and (max-width: 900px) {
    header .container .header-content .header-top .header-top-right .logo {
      width: 25%;
      margin-left: 3px; } }
      header .container .header-content .header-top .header-top-right .logo a {
        font-family: 'Encode Sans', sans-serif;
        color: #fff;
        font-size: 30px;
        text-decoration: none; }
    header .container .header-content .header-top .header-top-right nav {
      margin-top: 15px;
      float: left;
      width: 69%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 21%; }
      @media (max-width: 1100px) {
        header .container .header-content .header-top .header-top-right nav {
          padding-left: 10%;
          width: 50%; } }
  @media (max-width: 1100px) and (max-width: 900px) {
    header .container .header-content .header-top .header-top-right nav {
      display: none; } }
      header .container .header-content .header-top .header-top-right nav ul li {
        float: left;
        margin-right: 6.8%; }
        @media (max-width: 1100px) {
          header .container .header-content .header-top .header-top-right nav ul li {
            margin-right: 3%; } }
        header .container .header-content .header-top .header-top-right nav ul li a {
          color: #fff; }
          @media (max-width: 1100px) {
            header .container .header-content .header-top .header-top-right nav ul li a {
              font-size: 12px; } }
        header .container .header-content .header-top .header-top-right nav ul li a:hover {
          color: #aa8c67; }
      header .container .header-content .header-top .header-top-right nav ul li:last-child {
        margin-right: 0%; }
    header .container .header-content .header-top .header-top-right .hb.subscribebutton {
      margin: 0px;
      padding: 18px 29px;
      font-size: 14px;
      float: right;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      color: #fff;
      background: #7dac3f;
      border: none;
      cursor: pointer;
      display: block; }
      @media (max-width: 1000px) {
        header .container .header-content .header-top .header-top-right .hb.subscribebutton {
          margin-right: 70px; } }
  @media (max-width: 1000px) and (max-width: 500px) {
    header .container .header-content .header-top .header-top-right .hb.subscribebutton {
      display: none; } }

.header-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header-bottom h1 {
    margin-top: 100px; }
    @media (max-width: 1300px) {
      .header-bottom h1 {
        margin-top: 90px; } }
  @media (max-width: 1300px) and (max-width: 500px) {
    .header-bottom h1 {
      margin-top: 45px; } }
  .header-bottom p {
    margin-top: 25px;
    color: #fff;
    font-size: 17px;
    text-align: center; }
    @media (max-width: 770px) {
      .header-bottom p {
        margin-top: 20px; } }
  @media (max-width: 770px) and (max-width: 500px) {
    .header-bottom p {
      margin-top: 11px;
      font-size: 13px; } }
  .header-bottom form.first {
    margin-top: 60px; }
    @media (max-width: 500px) {
      .header-bottom form.first {
        display: none; } }
    .header-bottom form.first .subscribemail {
      width: 437px;
      height: 55px;
      padding: 0 0 0 40px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #a5a5a5;
      font-size: 15px;
      float: left;
      -webkit-border-radius: 7px 0px 0px 7px;
              border-radius: 7px 0px 0px 7px;
      border: none;
      background: url(../images/map_marker.png) 3% 48% no-repeat, #fff; }
      @media (max-width: 680px) {
        .header-bottom form.first .subscribemail {
          width: 350px; } }
  @media (max-width: 680px) and (max-width: 550px) {
    .header-bottom form.first .subscribemail {
      width: 300px; } }
    .header-bottom form.first .quote.subscribebutton {
      height: 55px;
      float: left;
      padding: 19px 70px;
      color: #fff;
      background: #aa8c67;
      display: block;
      border: none;
      cursor: pointer;
      margin: 0px;
      -webkit-border-radius: 0px 7px 7px 0px;
              border-radius: 0px 7px 7px 0px; }
      @media (max-width: 680px) {
        .header-bottom form.first .quote.subscribebutton {
          padding: 19px 50px; } }
  @media (max-width: 680px) and (max-width: 550px) {
    .header-bottom form.first .quote.subscribebutton {
      padding: 19px 40px; } }
  .header-bottom form.second {
    display: none;
    margin-top: 25px; }
    @media (max-width: 500px) {
      .header-bottom form.second {
        display: block; } }
    .header-bottom form.second .subscribemail {
      width: 220px;
      height: 55px;
      padding: 0 0 0 40px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #a5a5a5;
      font-size: 15px;
      float: left;
      -webkit-border-radius: 7px 0px 0px 7px;
              border-radius: 7px 0px 0px 7px;
      border: none;
      background: url(../images/map_marker.png) 3% 48% no-repeat, #fff; }
    .header-bottom form.second .quote.subscribebutton {
      font-size: 20px;
      height: 55px;
      float: left;
      padding: 0px 20px;
      color: #fff;
      background: #aa8c67;
      display: block;
      border: none;
      cursor: pointer;
      margin: 0px;
      -webkit-border-radius: 0px 7px 7px 0px;
              border-radius: 0px 7px 7px 0px; }
  .header-bottom .top-button {
    margin-top: 80px; }
    @media (max-width: 1300px) {
      .header-bottom .top-button {
        margin-top: 70px; } }
    .header-bottom .top-button a {
      display: block; }
      .header-bottom .top-button a i {
        color: #fff;
        font-size: 20px; }
    .header-bottom .top-button a:hover i {
      color: #aa8c67; }

/* advantages */
.advantages {
  padding: 74px 0 96px 0;
  background: #fff; }
  @media (max-width: 450px) {
    .advantages {
      margin-top: 74px;
      padding-bottom: 0px; } }
  .advantages .container .block {
    margin-top: 122px; }
    @media (max-width: 450px) {
      .advantages .container .block {
        margin-top: 46px; } }
    .advantages .container .block article {
      text-align: center;
      float: left;
      width: 33.33%; }
      @media (max-width: 450px) {
        .advantages .container .block article {
          width: 100%;
          padding: 0 30px 0 20px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; } }
      .advantages .container .block article img {
        max-width: 60px;
        margin-bottom: 57px; }
        @media (max-width: 450px) {
          .advantages .container .block article img {
            float: left;
            width: 25%; } }
      @media (max-width: 450px) {
        .advantages .container .block article .right {
          float: right;
          text-align: left;
          width: 75%; } }
      .advantages .container .block article .right p {
        color: #888;
        font-size: 15px; }

/* plan */
.plan {
  padding: 65px 0 96px 0;
  background: #f5f5f5; }
  @media (max-width: 450px) {
    .plan {
      padding: 40px 0 50px 0; } }
  .plan .container .block {
    margin-top: 56px; }
    @media (max-width: 450px) {
      .plan .container .block {
        margin-top: 35px; } }
    .plan .container .block article {
      text-align: center;
      float: left;
      width: 31.65%;
      background: #fff;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      margin-right: 2.5%;
      padding: 47px 0 38px 0; }
      @media (max-width: 450px) {
        .plan .container .block article {
          width: 95%;
          padding: 20px 25px 25px 20px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin: 2.5% 0px 2.5% 5px; } }
      .plan .container .block article img {
        max-width: 70px;
        margin-bottom: 20px; }
        @media (max-width: 450px) {
          .plan .container .block article img {
            float: left;
            width: 35%; } }
      @media (max-width: 450px) {
        .plan .container .block article .right {
          float: right;
          text-align: left;
          width: 65%; } }
      .plan .container .block article .right p {
        color: #888;
        font-size: 15px;
        line-height: 1.3; }
    .plan .container .block article:last-child {
      margin-right: 0%; }
  .plan .container .subscribebutton {
    margin: 64px auto 0;
    padding: 21px 67px;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    color: #fff;
    background: #7dac3f;
    display: block;
    border: none;
    font-size: 15px;
    cursor: pointer; }
    @media (max-width: 770px) {
      .plan .container .subscribebutton {
        padding: 17px 45px; } }
  @media (max-width: 770px) and (max-width: 450px) {
    .plan .container .subscribebutton {
      margin-top: 20px;
      width: 90%; } }

/*reviews*/
.reviews {
  padding-top: 50px; }
  .reviews .container .multiple-slide {
    margin-top: 70px; }
    .reviews .container .multiple-slide article p {
      font-size: 16px;
      color: #858585;
      line-height: 1.5;
      margin-right: 47px; }
    .reviews .container .multiple-slide article ul {
      margin-bottom: 21px; }
      .reviews .container .multiple-slide article ul li {
        float: left;
        list-style-type: none;
        margin-right: 4px; }

.multiple-slide .slick-dots {
  bottom: -76px; }
  .multiple-slide .slick-dots li button:before {
    font-size: 40px; }

/*articles*/
.articles {
  background: #f5f5f5;
  margin-top: 106px;
  padding: 71px 0px 107px 0px; }
  @media (max-width: 450px) {
    .articles {
      padding: 30px 0px 10px 0px; } }
  .articles .container .slick-slider1 {
    display: none; }
    @media (max-width: 450px) {
      .articles .container .slick-slider1 {
        display: block;
        margin-top: 20px; } }
  .articles .container .block {
    margin-top: 53px; }
    @media (max-width: 450px) {
      .articles .container .block {
        display: none; } }
    .articles .container .block article {
      float: left;
      width: 31.65%;
      margin-right: 2.5%;
      color: #000; }
      @media (max-width: 770px) {
        .articles .container .block article {
          width: 44.8%;
          margin-right: 3.46%; } }
      .articles .container .block article img {
        -webkit-border-radius: 7px;
                border-radius: 7px;
        margin-bottom: 12px; }
      .articles .container .block article p {
        font-size: 16px;
        line-height: 1.5; }
        .articles .container .block article p span {
          color: #a9a9a9;
          font-size: 13px; }
    .articles .container .block article:last-child {
      margin-right: 0%; }
    .articles .container .block article:first-child {
      margin-left: 0%; }
      @media (max-width: 770px) {
        .articles .container .block article:first-child {
          margin-left: 3.46%; } }

.articles-hide {
  background: #f5f5f5; }
  @media (max-width: 770px) {
    .articles-hide {
      display: none; } }

/*styles for footer*/
footer {
  background: #323232;
  padding: 45px 0 49px 0; }
  @media (max-width: 450px) {
    footer {
      padding: 20px 0 20px 0; } }
  footer .container .left {
    width: 25.7%;
    float: left; }
    @media (max-width: 770px) {
      footer .container .left {
        width: 33%; } }
  @media (max-width: 770px) and (max-width: 450px) {
    footer .container .left {
      width: 100%;
      text-align: center; } }
    footer .container .left p {
      font-family: 'Encode Sans', sans-serif;
      margin-top: 16px;
      color: #5b5b5b;
      font-size: 13px; }
      @media (max-width: 450px) {
        footer .container .left p {
          margin-top: 5px; } }
  footer .container .right {
    width: 74.3%;
    float: right; }
    @media (max-width: 770px) {
      footer .container .right {
        width: 67%; } }
  @media (max-width: 770px) and (max-width: 450px) {
    footer .container .right {
      display: none; } }
    footer .container .right article {
      float: left; }
      footer .container .right article a {
        color: #f5f5f5;
        line-height: 2.3;
        font-size: 15px; }
      footer .container .right article a:hover {
        color: #c9a375; }
    footer .container .right article.support {
      width: 34.7%; }
    footer .container .right article.about {
      width: 34.7%; }
    footer .container .right article.socials {
      width: 30.6%; }
