/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  outline: 0
  vertical-align: baseline
  background: transparent
  font-size: 100%

a
  margin: 0
  padding: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent
  outline: none
  text-decoration: none
  color: #767676

table
  border-collapse: collapse
  border-spacing: 0

td, td img
  vertical-align: top

nav ul
  list-style: none

img
  max-width: 100%

html
  min-height: 100%

h1, h2, h3, h4, h5, h6
  font-weight: normal

.clr
  clear: both

.clearfix:after
  clear: both
  content: ""
  display: table
  /* --------------- end reset.css --------------- */
/* --------------- style for main --------------- */
body
  font-family: 'Roboto', sans-serif
  color: #000
  font-size: 14px
  background: #fff

.container
  max-width: 1150px
  margin: 0 auto
  padding: 0 5px
  -webkit-box-sizing: border-box
          box-sizing: border-box  

h1 
  color: #fff
  font-size: 40px
  @media (max-width:500px)
    font-size: 23px

h2 
  text-align: center
  font-size: 32px
  @media (max-width:770px)
    font-size: 28px
    @media (max-width:450px)
      font-size: 20px

h3 
  font-size: 23px
  margin-bottom: 9px
  @media (max-width:770px)
    font-size: 18px

h4 
  font-size: 15px
  font-weight: bold
  margin-bottom: 5px

h5
  font-size: 21px
  margin-bottom: 13px

h6 
  font-family: 'Encode Sans', sans-serif  
  color: #fff
  font-size: 30px

// background-video

.homepage-hero-module 
  border-right: none
  border-left: none
  position: relative

.no-video .video-container video,
.touch .video-container video 
  display: none

.no-video .video-container .poster,
.touch .video-container .poster 
  display: block !important

.video-container 
  position: relative
  bottom: 0%
  left: 0%
  height: 100%
  width: 100%
  overflow: hidden
  background: #000

.video-container .poster img 
  width: 100%
  bottom: 0
  position: absolute

.video-container .filter 
  z-index: 100
  position: absolute
  background: rgba(0, 0, 0, 0.4)
  background: none
  width: 100%

.video-container video 
  position: absolute
  z-index: 0
  bottom: 0

.video-container video.fillWidth 
  width: 100%;

//header

.hidden-button svg g
  fill: #ffffff
  cursor: pointer

.hidden-button svg g:hover
  fill: #aa8c67

header .container .header-content .header-top 
  padding: 30px 0 28px 0
  border-bottom: 1px solid rgba(255, 255, 255, .2)
  @media (max-width:900px)
    padding-left: 60px 
    @media (max-width:550px) 
      padding: 15px 0 15px 60px
      @media (max-width:500px)
        padding: 15px 0 15px 170px


  .header-top-left
    float: left
    display: none
    @media (max-width:900px)
      display: block
      width: 5%

    .hidden-container
      position: relative
      margin-top: 10px

      .hidden-menu
        display: none  
        position: absolute  
        width: 250px
        background: #323232
        box-sizing: border-box
        padding: 20px 25px
        border: 1px solid #3c3c3c

        ul li 
          margin-bottom: 20px        

          a
            color: #717171

          a:hover
            color: #fefefe  

        ul li:last-child
          margin-bottom: 0px                      


  .header-top-right
    float: left
    width: 100%
    @media (max-width:900px)
      width: 95%

    .logo
      margin-top: 2px
      float: left
      width: 15%
      @media (max-width:1050px)
        margin-left: 10px
        @media (max-width:1000px)
          margin-left: 70px        
          @media (max-width:900px)
            width: 25%
            margin-left: 3px

      a
        font-family: 'Encode Sans', sans-serif  
        color: #fff
        font-size: 30px
        text-decoration: none
        float:left        

    nav
      margin-top: 15px
      float: left
      width: 69%
      box-sizing: border-box
      padding-left: 21%      
      @media (max-width:1100px)
        padding-left: 10%
        width: 50%
        @media (max-width:900px)
          display: none

      ul li
        float: left
        margin-right: 6.8%
        @media (max-width:1100px)
          margin-right: 3%

        a
          color: #fff 
          @media (max-width:1100px)
            font-size: 12px

        a:hover
          color: #aa8c67

      ul li:last-child
        margin-right: 0%

    .hb.subscribebutton
      margin: 0px
      padding: 18px 29px
      font-size: 14px
      float: right
      @media (max-width:1000px)
        margin-right: 70px
        @media (max-width:500px)
            display: none

//header-bottom
.header-bottom
  display: flex
  align-items: center
  flex-direction: column
  justify-content: space-between

  h1
    margin-top: 100px
    @media (max-width:1300px)
      margin-top: 90px
      @media (max-width:500px)
        margin-top: 45px      

  p
    margin-top: 25px
    color: #fff
    font-size: 17px
    text-align: center
    @media (max-width:770px)
      margin-top: 20px
      @media (max-width:500px)
        margin-top: 11px 
        font-size: 13px

  form.first
    margin-top: 60px
    @media (max-width:500px)
      display: none

    .subscribemail 
      width: 437px
      height: 55px
      padding: 0 0 0 40px
      -webkit-box-sizing: border-box
      box-sizing: border-box
      color: #a5a5a5
      font-size: 15px
      float: left
      border-radius: 7px 0px 0px 7px
      border: none
      background: url(../images/map_marker.png) 3% 48% no-repeat, #fff
      @media (max-width:680px)
        width: 350px
        @media (max-width:550px)
          width: 300px

    .quote.subscribebutton
      height: 55px
      float: left
      padding: 19px 70px
      color: #fff
      background: #aa8c67
      display: block
      border: none
      cursor: pointer
      margin: 0px
      border-radius: 0px 7px 7px 0px
      @media (max-width:680px)
        padding: 19px 50px
        @media (max-width:550px)
          padding: 19px 40px

  form.second
    display: none
    margin-top: 25px
    @media (max-width:500px)
      display: block

    .subscribemail 
      width: 220px
      height: 55px
      padding: 0 0 0 40px
      -webkit-box-sizing: border-box
      box-sizing: border-box
      color: #a5a5a5
      font-size: 15px
      float: left
      border-radius: 7px 0px 0px 7px
      border: none
      background: url(../images/map_marker.png) 3% 48% no-repeat, #fff

    .quote.subscribebutton
      font-size: 20px
      height: 55px
      float: left
      padding: 0px 20px
      color: #fff
      background: #aa8c67
      display: block
      border: none
      cursor: pointer
      margin: 0px
      border-radius: 0px 7px 7px 0px          

  .top-button
    margin-top: 80px
    @media (max-width:1300px)
      margin-top: 70px

    a
      display: block

      i
        color: #fff
        font-size: 20px    

    a:hover i
      color: #aa8c67  

/* advantages */
.advantages
  margin-top: 74px
  padding-bottom: 96px
  background: #fff
  @media (max-width:450px)
    margin-top: 74px
    padding-bottom: 0px

  .container

    .block
      margin-top: 122px 
      @media (max-width:450px)
        margin-top: 46px 

      article
        text-align: center
        float: left
        width: 33.33% 
        @media (max-width:450px)
          width: 100%
          padding: 0 30px 0 20px 
          box-sizing: border-box         

        img
          max-width: 60px
          margin-bottom: 57px
          @media (max-width:450px)
            float: left
            width: 25%

        .right
          @media (max-width:450px)
            float: right
            text-align: left
            width: 75%

          p
            color: #888
            font-size: 15px
 
/* plan */
.plan
  padding: 65px 0 96px 0
  background: #f5f5f5
  @media (max-width:450px)
    padding: 40px 0 50px 0

  .container

    .block
      margin-top: 56px
      @media (max-width:450px)
        margin-top: 35px

      article
        text-align: center
        float: left
        width: 31.65%
        background: #fff
        border-radius: 7px
        margin-right: 2.5%
        padding: 47px 0 38px 0
        @media (max-width:450px)
          width: 95%
          padding: 20px 25px 25px 20px 
          box-sizing: border-box
          margin: 2.5% 0px 2.5% 5px         

        img
          max-width: 70px
          margin-bottom: 20px
          @media (max-width:450px)
            float: left
            width: 35%          

        .right
          @media (max-width:450px)
            float: right
            text-align: left
            width: 65%        

          p
            color: #888
            font-size: 15px
            line-height: 1.3  

      article:last-child
        margin-right: 0%

    .subscribebutton
      margin: 64px auto 0
      padding: 21px 67px
      border-radius: 7px
      color: #fff
      background: #7dac3f
      display: block
      border: none 
      font-size: 15px
      cursor: pointer  
      @media (max-width:770px)  
        padding: 17px 45px  
        @media (max-width:450px)
          margin-top: 20px
          width: 90%

/*reviews*/


.reviews
  padding-top: 50px

  .container

    .multiple-slide
      margin-top: 70px

      article p
        font-size: 16px
        color: #858585
        line-height: 1.5
        margin-right: 47px      

      article ul
        margin-bottom: 21px

        li
          float: left
          list-style-type: none
          margin-right: 4px       

.multiple-slide .slick-dots
  bottom: -76px

  li button:before
    font-size: 40px

/*articles*/

.articles
  background: #f5f5f5
  margin-top: 106px
  padding: 71px 0px 107px 0px
  @media (max-width:450px)
    padding: 30px 0px 10px 0px

  .container
    
    .slick-slider1
      display: none
      @media (max-width:450px)
        display: block
        margin-top: 20px

    .block
      margin-top: 53px
      @media (max-width:450px)
        display: none

      article
        float: left
        width: 31.65%
        margin-right: 2.5%
        color: #000
        @media (max-width:770px)
          width: 44.8%
          margin-right: 3.46%


        img
          border-radius: 7px
          margin-bottom: 12px

        p
          font-size: 16px
          line-height: 1.5

          span
            color: #a9a9a9
            font-size: 13px

      article:last-child
        margin-right: 0%

      article:first-child
        margin-left: 0% 
        @media (max-width:770px)
          margin-left: 3.46%       

.articles-hide
  background: #f5f5f5
  @media (max-width:770px) 
    display: none
/*styles for footer*/
footer
  background: #323232
  padding: 45px 0 49px 0  
  @media (max-width:450px)
    padding: 20px 0 20px 0

  .container

    .left
      width: 25.7%
      float: left
      @media (max-width:770px)
        width: 33%
        @media (max-width:450px)
          width: 100%
          text-align: center

      p
        font-family: 'Encode Sans', sans-serif
        margin-top: 16px
        color: #5b5b5b
        font-size: 13px
        @media (max-width:450px)
          margin-top: 5px

    .right
      width: 74.3%
      float: right
      @media (max-width:770px)
        width: 67% 
        @media (max-width:450px)
          display: none     

      article
        float: left

        a
          color: #f5f5f5
          line-height: 2.3
          font-size: 15px

        a:hover
          color: #c9a375

      article.support
        width: 34.7%

      article.about
        width: 34.7%

      article.socials
        width: 30.6%


    
